<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body text-center">
            <h1>Choose a Role</h1>
            <a href="/welcome/seller" class="btn btn-success btn-block mb">Seller</a>
            <a href="/welcome/transport" class="btn btn-success btn-block mb">Transport</a>
            <a href="/welcome/buyer" class="btn btn-success btn-block mb">Buyer</a>
        </div>
    </div>
</div>